*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
  color: #000;
}
ul,li{
  list-style: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
